.sgm-eng-solo {
  border-radius: 4px;
  color: inherit;
  position: relative;
  transition: opacity 0.5s ease-out 0s;
  /* Чтобы не прыгал контент */
  min-height: 260px;
  clear: both;

  .sgm-line {
    font-size: 22px;
    margin-bottom: 10px;
    height: 22px;

    &.sgm-line-done-flag {
      .sgm-inner {
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        display: inline-block;
        height: 12px;
      }
    }

    .sgm-char {
      &.sgm-current-char-flag {
		border-bottom: 1px solid #676367;
		background: #676367;
		padding: 0 3px;
		color: #fff;
		margin: 0 2px;
      }

      &.sgm-right-char-flag {
        opacity: 0.3;
      }

      &.sgm-wrong-char-flag {
		color: #fff;
		/* animation: a .6s steps(5,start) infinite; */
		/* -webkit-animation: a 1s steps(5,start) infinite; */
		background: #e62f4c;
        border-bottom: 0;
      }

      &.sgm-space-flag {
        &.sgm-wrong-char-flag {
          background: #ef4852;
          animation: eng-solo-blink-animation 0.6s steps(5, start) infinite;
          -webkit-animation: eng-solo-blink-animation 0.6s steps(5, start) infinite;
        }
      }
    }
  }

  &.sgm-not-active-flag {
    opacity: 0.3;

  }
}

@keyframes eng-solo-blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes eng-solo-blink-animation {
  to {
    visibility: hidden;
  }
}
